<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>V studio</title>
</head>

<body>

    <form method="POST">
        <p>BGMを選択</p>
        <select name="sound">
            <option value="edm_1">EDM その１</option>
            <option value="edm_2">EDM その２</option>
            <option value="urban">都会っぽく</option>
            <option value="green">草原っぽく</option>
        </select>
        <br>
        <p>VMDファイルを選択</p>
        <select name="vmd">
            <option value="wait">待機</option>
            <option value="bleath">呼吸</option>
            <option value="wavefile">ダンス(wavefile)</option>
        </select>
        <br>
        <p><input type="submit" name="save" value="送信" /></p>
    </form>

</body>

</html>